<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <clear/>
    <!--    <add providerName="System.Data.OleDb" name="conn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=DataBaseAccess/AffDb.mdb;Persist Security Info=True"/>-->
    <add providerName="System.Data.SqlClient" name="conn" connectionString="Data Source=127.0.0.1;Initial Catalog=FileManagerDb;Persist Security Info=True;User ID=sa;Password=123456"/>
  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="hotmail" value="https://signup.live.com/"/>
  </appSettings>
</configuration>