<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <clear/>
    <add providerName="System.Data.OleDb" name="conn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=DataBaseAccess/AffDb.mdb;Persist Security Info=True"/>
  </connectionStrings>




</configuration>
